:root{
    --background-color: #FFFFFF;
    --pramiry-color: #757575;
    --secondory-color:#212121;
    --company-color:#2196F3;

    --footer-contact-color: rgba(255, 255, 255, 0.6);

}

body
{
    color: var(--pramiry-color);
    background-color: var(--background-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* visually hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* logo */
 .logo{
    color: #000000;

    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;

    line-height: 1.2;

    letter-spacing: 0.03em;

    text-decoration: none;
}
.logo-span{
    color: var(--company-color);
}

/* list */
.list
{
    list-style: none;
}

/* link */
.link{
    color: var(--secondory-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link.this-page {
    color: var(--company-color);
}

/* header link */
.link.header-contact{
    color: var(--pramiry-color);
}
.link:hover{
    color: var(--company-color);
}

/* footer link */
.link.footer-contact{
    color: gba(255, 255, 255, 0.6);
}

/* title */
.title{
    color: var(--secondory-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/* hero section */
.hero-section{
    background-color: #2F303A;;
}
.hero-title{
    color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;

    line-height: 1.4;

    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;
}
.btn{
    background-color: var(--company-color);
    color: #fff;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    text-align: center;
    letter-spacing: 0.06em;

    border: 0;
}

/* features section */
.features-title{
    color: var(--secondory-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* employee section */
.employee-title
{
    color: var(--secondory-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.speciality{
    font-size: 14px;

    line-height: 1.71;
    text-align: center;
}