:root{
    --background-color: #FFF;
    --pramiry-color: #757575;
    --secondory-color:#212121;
    --company-color:#2196F3;

    --footer-contact-color: rgba(255, 255, 255, 0.6);

    --pramiry-button-color: #FFF;
    --secondory-button-color: #212121;
    --pramiry-button-background-color: #2196F3;
    --secondory-button-background-color: #F5F4FA; 
}

body
{
    color: var(--pramiry-color);
    background-color: var(--background-color);

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    line-height: 1.71;

    letter-spacing: 0.03em;
}

/* visually hidden */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* logo */
 .logo{
    color: #000000;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;

    line-height: 1.2;

    letter-spacing: 0.03em;

    text-decoration: none;
}
footer > .logo{
    color: #FFFFFF;
}
.logo-cover{
    color: var(--company-color);
}

/* list */
.list
{
    list-style: none;
}

/* link */
.link{
    color: var(--secondory-color);

    font-family: var(--pramiry-color);
    font-weight: 500;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.link.this-page {
    color: var(--company-color);
}

/* header link */
a[class="link contact"]{
    color: inherit;
}
.link:hover, .link:focus{
    color: var(--company-color);
}

/* footer link */
address > a[class="link contact"]{
    color: rgba(255, 255, 255, 0.6);
}

/* button */
.button{
    color: var(--pramiry-button-color);
    background-color: var(--pramiry-button-background-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;

    border: 0;
}
.button:hover{
    color: var(--secondory-button-color);
    background-color: var(--secondory-button-background-color);
}
/* title */
.title{
    color: var(--secondory-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    
    line-height: 1.16;
    letter-spacing: 0.03em;
}

/* hero section */
.hero-section{
    background-color: #2F303A;;
}
.hero-title{
    color: #FFFFFF;

    font-family: inherit;
    font-weight: 900;
    font-size: 44px;

    line-height: 1.4;

    letter-spacing: 0.06em;

    text-transform: uppercase;
}
.hero-button{
    background-color: var(--company-color);
    color: var(--pramiry-button-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    letter-spacing: 0.06em;

    border: 0;

    cursor: pointer;
}

/* features section */
.features-title{
    color: var(--secondory-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* employee section */
.employee-title
{
    color: var(--secondory-color);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;

    line-height: 1.19;
    letter-spacing: 0.03em;
}
.speciality{
    font-size: 14px;

    line-height: 1.71;
}

/* footer */
footer{
    background-color: #2F303A;
}
address{
    color: #fff;
    font-style: inherit;
}
/* Card */
.card-link{
    text-decoration: none;
}
.card-title{
    color: var(--secondory-button-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.card-text{
    color: var(--pramiry-color);

    font-size: 16px;
    line-height: 30px;
    
    letter-spacing: 0.03em;
}